packaging_format = 2

id = "onlyoffice"
name = "OnlyOffice"
description.en = "Create and edit documents collaboratively"
description.fr = "Créez et éditer des documents collaborativement"

version = "7.3.3~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0-or-later"
website = "https://www.onlyoffice.com"
demo = "https://www.onlyoffice.com/fr/download-desktop.aspx"
code = "https://github.com/ONLYOFFICE/DocumentServer"

[integration]
yunohost = ">= 11.1.18"
architectures = ["arm64", "amd64"]
multi_instance = false
ldap = "not_relevant"
sso = "not_relevant"
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    help.en = "You should not install OnlyOffice on your main YunoHost domain, especially if you want to use it with a Nextcloud installed on the same domain."
    help.fr = "Évitez d'installer OnlyOffice sur votre domaine YunoHost principal, surtout si vous voulez l'utiliser avec une instance Nextcloud installée sur le même domaine."
    type = "domain"

    [install.path]
    help.en = "Root path / if you chose a subdomain, e.g. office.yunohost.domain."
    help.fr = "Choisissez le chemin racine / si vous avez choisi un sous-domaine, ex. office.yunohost.domain."
    type = "path"
    default = "/onlyoffice"

    [install.init_main_permission]
    help.en = "You will only be able to connect OnlyOffice to Nextcloud if both apps are public!"
    help.fr = "Nextcloud et OnlyOffice doivent être des applications publiques si vous voulez les connecter !"
    type = "group"
    default = "visitors"

    [install.nextclouddomain]
    ask.en = "The domain of the Nextcloud to connect to OnlyOffice"
    ask.fr = "Le domaine du Nextcloud à connecter à OnlyOffice"
    help.en = "Install the OnlyOffice connector to edit documents from Nextcloud."
    help.fr = "Installez le connecteur OnlyOffice pour éditer des documents dans Nextcloud."
    type = "string"
    example = "yunohost.domain/nextcloud or nextcloud.yunohost.domain"
    default = "yunohost.domain/nextcloud"

[resources]

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "postgresql postgresql-contrib libstdc++6 rabbitmq-server libcurl4-dev"

    extras.repo = "deb http://deb.debian.org/debian/ bullseye main contrib"
    extras.key = "https://ftp-master.debian.org/keys/release-bullseye.asc"
    extras.packages = "ttf-mscorefonts-installer"

    extras.onlyoffice.repo = "https://download.onlyoffice.com/repo/debian squeeze main"
    extras.onlyoffice.key = "https://download.onlyoffice.com/GPG-KEY-ONLYOFFICE"
    extras.onlyoffice.packages = "onlyoffice-documentserver"

    [resources.database]
    type = "postgresql"
