#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "onlyoffice"
name = "OnlyOffice"
description.en = "Create and edit documents collaboratively"
description.fr = "Créez et éditer des documents collaborativement"

version = "9.1.0~ynh2"

maintainers = []

[upstream]
license = "AGPL-3.0-or-later"
website = "https://www.onlyoffice.com"
demo = "https://www.onlyoffice.com/fr/download-desktop.aspx"
code = "https://github.com/ONLYOFFICE/DocumentServer"
cpe = "cpe:2.3:a:onlyoffice:document_server"

[integration]
yunohost = ">= 12.1.32"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = true

ldap = "not_relevant"
sso = "not_relevant"

disk = "2100M"
ram.build = "800M"
ram.runtime = "800M"

[antifeatures]
arbitrary-limitations.en = "The official OnlyOffice build limits the number of users and open documents. This package recompiles this part according to the AGPLv3 licence, removing these artificial limitations."
arbitrary-limitations.fr = "La version officielle d'OnlyOffice limite le nombre d'utilisateurs et de documents ouverts. Ce paquet recompile cette partie conformément à la licence AGPLv3, supprimant ainsi ces limitations artificielles."

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/"

    [install.init_main_permission]
    help.en = "You will only be able to connect OnlyOffice to your app if both apps are public!"
    help.fr = "Votre app et OnlyOffice doivent être des applications publiques si vous voulez les connecter !"
    type = "group"
    default = "visitors"

    [install.allowed_urls]
    ask.en = "List of web addresses authorized to integrate the OnlyOffice editor separated by space"
    ask.fr = "Liste des adresses web autorisées à intégrer l'éditeur OnlyOffice séparées par un espace"
    help.en = "Install the OnlyOffice connector to edit documents from Nextcloud."
    help.fr = "Installez le connecteur OnlyOffice pour éditer des documents dans Nextcloud."
    type = "string"
    example = "https://cloud.yunohost.domain/nextcloud https://example.com"
    
    [install.reject_unauthorized]
    ask.en = "Prevent integration with an app that is not authenticated by a valid certificate (example: Let's Encrypt)"
    ask.fr = "Empécher l'intégration avec une app non authentifiée par un certificat valide (exemple : Let's Encrypt)"
    type = "boolean"
    default = true
    true = "true"
    false = "false"
    help.en = "Disabling this option allows OnlyOffice to accept unauthenticated HTTPS requests, which can be useful if your server is not exposed to the internet and cannot obtain a Let's Encrypt certificate."
    help.fr = "Désactiver cette option permet à OnlyOffice d'accepter les requêtes HTTPS non authentifiées, ce qui peut être utile si votre serveur n'est pas exposé sur internet et ne peut pas obtenir de certificat Let's Encrypt."

    [install.autoassembly_enable]
    ask.en = "Enable automatic forcesaving"
    type = "boolean"
    default = true
    true = "true"
    false = "false"
    help.en = "The automatic forcesaving will only be initiated after some changes were made to the document. The empty versions will not be forcesaved automatically. Additionally, file versioning needs to be implemented on the document management system's side for this parameter to work."
    
    [install.rebuild_without_limitations]
    ask.en = "Remove usage limitations by replacing official OnlyOffice binaries"
    ask.fr = "Supprimer les limites d'usage en remplaçant les binaires officiels d'OnlyOffice"
    type = "boolean"
    default = 1
    help.en = "Recompile binaries in order to remove usage limitations (number of users, opened documents, smartphone usage). Note: the install and upgrade will be slower."
    help.fr = "Recompile les binaires afin de supprimer les limitations d'utilisation (nombre d'utilisateurs, documents ouverts, utilisation sur smartphone)."

[resources]

    [resources.sources.main]
    amd64.url = "https://github.com/ONLYOFFICE/DocumentServer/releases/download/v9.1.0/onlyoffice-documentserver_amd64.deb"
    amd64.sha256 = "32652ae9d578fdc0de782d142f6e3453ec9872a06c8b5bea0740703ca5a80dd7"
    arm64.url = "https://github.com/ONLYOFFICE/DocumentServer/releases/download/v9.1.0/onlyoffice-documentserver_arm64.deb"
    arm64.sha256 = "41e7897bda6fc2380bac846fd98b82e421361077af19f2cfddcf9e23a47cd08d"
    extract = false
    rename = "onlyoffice-documentserver.deb"
    autoupdate.asset.amd64 = "^onlyoffice-documentserver_amd64.deb$"
    autoupdate.asset.arm64 = "^onlyoffice-documentserver_arm64.deb$"
    autoupdate.strategy = "latest_github_release"
    
    [resources.sources.src]
    url = "https://github.com/ONLYOFFICE/server/archive/refs/tags/v9.1.0.183.tar.gz"
    sha256 = "ca41f0e4b05679c813ce840c96553e752fa44f9ec04746fb3ef1e2da239b2945"
    # Autoupdater disabled because keeps failing everyday, because no tag found after sanity filtering
    # autoupdate.strategy = "latest_github_tag"
    # autoupdate.version_regex = "^v9.*$"
    # autoupdate.upstream = "https://github.com/ONLYOFFICE/server"
    
#    [resources.sources.fonts]
#    url = "https://forge.liiib.re/indiehost/libre.sh/fonts/-/archive/4f5ad93ee65a862bddfc70eb48ac98e531968da7/fonts-4f5ad93ee65a862bddfc70eb48ac98e531968da7.tar.gz"
#    sha256 = "aed831e465bf775320a6298a5a7aac0197754de410f736c1020996267678016f"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:rx"

    [resources.data_dir]
    subdirs = ['docbuilder', 'cache/files']
    group = "www-data:rx"

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8095

    [resources.apt]
    packages = [
        "postgresql",
        "postgresql-contrib",
        "libstdc++6",
        "rabbitmq-server",
        "redis",
        "redis-tools",
        "libcurl4-openssl-dev",
        "binutils",
        #"ttf-mscorefonts-installer",
    ]

    [resources.database]
    type = "postgresql"

#    [resources.nodejs]
#    version = "18"
