#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    args.allowed_urls = "https://nextcloud.tld"

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    #[default.test_upgrade_from.6fad960ef104f0d96ebd38c3577330efd2c4ed57]
    #name = "8.0.1~ynh1"
    #args.domain = "domain.tld"
    #args.path = "/"
    #args.nextclouddomain = "nextcloud.tld"
    #args.admin = "package_checker"
