[Unit]
Description=Docs Docservice
After=network.target syslog.target redis-server.service __APP__-metrics.service
Wants=redis-server.service __APP__-metrics.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/documentserver/server/DocService
ExecStart=/bin/sh -c 'exec __INSTALL_DIR__/documentserver/server/DocService/docservice'
StandardOutput=append:/var/log/__APP__/docservice.log
StandardError=inherit
Environment=NODE_ENV=production-linux NODE_CONFIG_DIR=__INSTALL_DIR__/config NODE_DISABLE_COLORS=1 APPLICATION_NAME=ONLYOFFICE

Restart=always
RestartSec=30

# Give up if ping don't get an answer
TimeoutSec=600

[Install]
WantedBy=multi-user.target


